NEXT_PUBLIC_MAGIC_PUBLISHABLE_KEY=


NEXT_PUBLIC_TESTNET_STAKING_ADDRESS=0xacdf784e6e2a83f0
NEXT_PUBLIC_TESTNET_FUNGIBLETOKEN_ADDRESS=0x9a0766d93b6608b7
NEXT_PUBLIC_TESTNET_FLOWTOKEN_ADDRESS=0x7e60df042a9c0868 


NEXT_PUBLIC_MAINNET_STAKING_ADDRESS=0x2eed39e014db1d54
NEXT_PUBLIC_MAINNET_FUNGIBLETOKEN_ADDRESS=0xf233dcee88fe0abe
NEXT_PUBLIC_MAINNET_FLOWTOKEN_ADDRESS=0x1654653399040a61 