html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.popup-container {
  width: 400px;
  height: 600px;
  background: #ffedae;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-slider {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: transparent;
}
.custom-slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    #c5361b 0 var(--percent, 0%),
    #f5da8e var(--percent, 0%) 100%
  );
}
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c5361b !important;
  cursor: pointer;
  margin-top: -6px;
  border: none;
  box-shadow: 0 0 2px #5c4435;
  outline: none;
}
.custom-slider:focus {
  outline: none;
}
.custom-slider::-ms-fill-lower {
  background: #c5361b;
}
.custom-slider::-ms-fill-upper {
  background: #f5da8e;
}
.custom-slider::-moz-range-track {
  height: 8px;
  border-radius: 8px;
  background: #f5da8e;
}
.custom-slider::-moz-range-progress {
  background-color: #c5361b;
  height: 8px;
  border-radius: 8px;
}
.custom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #c5361b !important;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 2px #5c4435;
  outline: none;
}
.custom-slider:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #c5361b 0 var(--percent, 0%), #f5da8e var(--percent, 0%) 100%);
}

/* Hide the outline for Firefox */
.custom-slider::-moz-focus-outer {
  border: 0;
}

.custom-slider:focus::-webkit-slider-thumb {
  background: #c5361b !important;
  outline: none;
  box-shadow: 0 0 2px #5c4435;
}

.custom-slider:focus::-moz-range-thumb {
  background: #c5361b !important;
  outline: none;
  box-shadow: 0 0 2px #5c4435;
}

.custom-slider:focus::-ms-thumb {
  background: #c5361b !important;
  outline: none;
  box-shadow: 0 0 2px #5c4435;
}